<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 22.05.2020, 19:18</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Blog de uma estudadante de engenharia de automação. </p>
        </div>

        <div>
            <p>publicado: 22.05.2020, 19:19</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Dicas e resumos sobre as matérias.</p>
        </div>
    </body>
</html>